* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(156, 206, 237);
}
#internet{
    width: 100%;
    height: 100vh;
    background: url("internet.png") top right;
    background-size: cover;
}
#message {
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 30px 0;
  border-radius: 8px;
  font-size: 4vmin;
  background-image: url("C:\Users\shrey\Downloads\Check Internet Connection in JavaScript\internet.png");
}